<script type="text/javascript" language="Javascript">

RBStats = {};

RBStats.review_id = '{{review_request.id}}';
RBStats.ext_id = "rbstats.extension.RBStatsExtension";
RBStats.ext_api_root = SITE_ROOT + "api/extensions/" + RBStats.ext_id + "/";
RBStats.activity_resource = "reviewing-sessions"
RBStats.ping_url = RBStats.ext_api_root + 
                   RBStats.activity_resource + "/" + 
                   RBStats.review_id + "/activity/";

RBStats.wait_time = 10000;
RBStats.saw_activity = false;
RBStats.ping_in_progress = false;


RBStats.on_activity = function(event) {
    RBStats.saw_activity = true;
}

RBStats.on_complete = function(response) {
    RBStats.ping_in_progress = false;
}

RBStats.ping = function() {
    if(RBStats.ping_in_progress) {
        RBStats.msg('Ping already in progress - skipping...');
    }
    if(RBStats.saw_activity) {
        $.ajax({
            type: "PUT",
            url: RBStats.ping_url,
            complete: RBStats.on_complete
        });
        RBStats.ping_in_progress = true;
    }
    RBStats.reset();
}

RBStats.msg = function(msg) {
    if(typeof(console) != 'undefined') {
        console.log(msg);
    }
}

RBStats.reset = function() {
    RBStats.saw_activity = false;
    setTimeout(RBStats.ping, RBStats.wait_time);
}

RBStats.boot = function() {
    $(document.body).mousemove(RBStats.on_activity);
    // Just in case user is typing
    $('#comment_text').keydown(RBStats.on_activity);
    // And just in case the user is scrolling the mousewheel
    $(document.body).mousewheel(RBStats.on_activity);
    // Reset the timer, and we're ready to go.
    RBStats.reset();
}

RBStats.boot();

</script>
